<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>{% block title %} Mike Tropea | Website Dashboard{% endblock %}</title>

	<link href="{{ asset('assets/admin/css/style.css') }}" rel="stylesheet" />

</head>
<body class="bg-silver-100">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<h1 class="display-1">403</h1>
				<p>Forbidden</p>
				<p>Sorry, You are not allowed to access this page.</p>
			</div>
		</div>
	</div>
</body>
</html>
