<header>
	<nav class="navbar navbar-expand-lg navbar-custom">
		<div class="container">

			<a class="navbar-brand nav-link mr-auto" href="#home">
				<img class="logo" src="{{ asset('assets/img/logo.svg') }}" data-fallback="{{ asset('assets/img/logo.png') }}" alt="Mike Tropea">
			</a>

			<button class="navbar-btn" type="button" aria-label="Menu">
				<span class="menu-bar1"></span>
				<span class="menu-bar2 my-2"></span>
				<span class="menu-bar3"></span>
			</button>

			<div class="navbar-collapse navbar-container" id="navbarContent">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item" class="active">
						<a class="nav-link" href="#home">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#work">Work</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#about">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#skills">Skills</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#contact">Contact</a>
					</li>
				</ul>
			</div>

		</div><!-- .container end -->
	</nav>
</header>
