<section id="quote">
	<div class="container">
		<div class="row">
		
			<div class="col-sm-12">
				<blockquote class="blockquote text-center animated" data-animation="tracking-in-expand-fwd-bottom">
					<p class="quote-text mb-0">{{ options.quote | raw }}</p>
				</blockquote>
			</div>

		</div><!-- .row end -->
	</div><!-- .container end -->
</section>