// Bootstrap
@import "../../../node_modules/bootstrap/scss/bootstrap";
// FontAwesome
$fa-font-path: "/assets/fonts" !default;
@import '../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import '../../../node_modules/@fortawesome/fontawesome-free/scss/brands';
@import '../../../node_modules/@fortawesome/fontawesome-free/scss/solid';

@import "variables";
@import "mixins";
@import "modifiers";
@import "text";
@import "animation";
@import "navigation";


/**
 * Base
 */
body {
	font-size: 16px;
	line-height: 1.5;
	color: $black;
	font-weight: 400;
	position: relative;
}
section {
	padding: 50px 0;
}
strong {
	font-weight: 700;
}
small {
	font-size: .8rem;
}
a {
	color: $blue;
	&:hover {
		color: lighten($blue, 10%);
	}
	&:focus {
		outline: none;
	}
}
hr {
	border-top: $border;
}
.btn {
	border-radius: 0;
	font-size: 1.2rem;
	font-weight: lighten;
}
//Scrollbar
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
	background: $gray;
}
::-webkit-scrollbar-thumb {
    background: $blue; 
}
::-webkit-scrollbar-thumb:hover {
    background: lighten($blue, 10%);
}
// Angular hide filcker
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}


/**
 * Loader
 */
#loader{
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: $blue;
	z-index: 9999;
	@include transition();
	.loader-logo {
		display: block;
		margin: 0 auto;
		position: relative;
		width: 50%;
		top: 40%;
		max-width: 800px;
	}
	.outline {
		opacity: 0;
		stroke-dasharray: 300;
		animation: dash 7s ease-out forwards;
		border: 1px solid $black;
	}
	// Delay for loop: delay-#
	$x: .5s;
	@for $i from 1 through 10 {
		.delay-#{$i} {
			$x: $x + .35s;
			animation-delay: $x;
		}
	}
	&.loaded{
		opacity: 0;
		visibility: hidden;
	}
}
// Stroke animation
@keyframes dash {
	from {
		stroke-dashoffset: 300;
		opacity: 1;
	}
	to {
		stroke-dashoffset: 0;
	}
}


/**
 * Home
 */
#home {
	position: relative;
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	align-items: center;
	-webkit-align-items: center;
	min-height: 100vh;
	overflow: hidden;
	.home-video {
		position: absolute;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: -100;
		-webkit-transform: translateX(-50%) translateY(-50%);
		transform: translateX(-50%) translateY(-50%);		
		background-repeat: no-repeat;
		background-size: cover;
		overflow: hidden;
	}
	.home-scroll {
		position: absolute;
		width: 100%;
		opacity: .3;
		bottom: $padding;
		left: 0;
		a {
			@include animated(3s);
			display: inline-block;
			color: $gray;
			@include transition();
			&:hover {
				color: $blue;
			}
		}
	}
}
@media (max-width: 767px) {
	#home {
		background-image: url(/assets/img/milkyway.jpg);
		.home-video {
		display: none;
		}
	}
}


/**
 * Work
 */
#work {
	.work-block {
		position: relative;
		height: 250px;
		margin-bottom: 30px;
		background-color: lighten($blue, 62%);
		color: $white;
		@include transition(0.5s);
		&:hover{
			-webkit-transform: translate3d(0, -3px, 0);
			-moz-transform: translate3d(0, -3px, 0);
			 transform: translate3d(0, -3px, 0);
			box-shadow: 0px 7px 22px rgba($black, 0.1);
		}
	}
	.work-block-logo {
		width: 100%;
		padding: 25px;
		img{
			max-height: 240px;
		}
	}
	.work-block-info {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		line-height: 1.8rem;
		@include transition(0.5s);
		&:hover {
			background-color: $black;
			opacity: 1;
			.v-center {
				visibility: visible;
			}
		}
		.v-center { 
			visibility: hidden; 
		}
		.title {
			font-weight: bold;
		}
		a,span {
			color: $white;
		}
		a {
			@include transition(0.5s);
			&:hover {
				text-decoration: none;
				color: $blue;
			}
		}
		span {
			display: block;
			font-size: 1.5rem;
		}
		i {
			margin: 0 10px;
		}
	}
}

@media (max-width: 575px) {
	#work {
		.work-block {
			height: 300px;
		}
	}
}


/**
 * Modal
 */
.modal-custom {
	.modal-title {
		line-height: 1.1;
	}
	.modal-lg {
		max-width: 1000px;
	}
	.modal-content {
		border: none;
		border-radius: 0;
		background-color: $tan;
		padding: $padding;
	}
	.modal-header {
		border-bottom: none;
		border-radius: 0;
		padding: 0 0 $padding 0;
	}
	.modal-body {
		padding: 0;
		.modal-info {
			border-left: $border;
			padding-left: $padding;
		}
	}
	.work-tech {
		&.fa-ul{
			margin-left: 2rem;
		}
		.fa-li {
			width: 1em;
		}
		i {
			color: $blue;
			font-size: .8rem;
		}
	}
}
@media (max-width: 575px) {
	.modal-custom {
		.modal-body {
			.modal-info {
				border-left: none !important;
				padding-left: 0;
				margin-bottom: 1.5rem;
			}
		}
	}
}


/**
 * About
 */
#about {
	background-image: url(/assets/img/about-bg.jpg);
	background-position: 50% 0;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	color: $white;
	a {
		color: $white;
		text-decoration: underline;
	}
	.about-timeline {
		margin-left: 0;
		margin-right: 0;
		&:after {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			left: 50%;
			z-index: 5;
			border-left: 5px solid $white;
		}
		.timeline-block {
			position: relative;
			height:  fit-content;
			padding: $padding;
			background-color: rgba($white, 0.3);
			@include box-shadow;
			&:before {
				content: "";
				position: absolute;
				top: 50%;
				border: 15px solid transparent;
				margin-top: -15px;
			}
			&:after {
				content: "";
				position: absolute;
				top: 40%;
				transform: translateX(-40%);
				width: 25px;
				height: 25px;
				border-radius: 50%;
				background-color: $white;
				@include box-shadow;
			}
			&:nth-child(odd) {
				margin-bottom: 45px;
				&:before {
					left: 100%;
					border-left-color: rgba($white, 0.3);
				}
				&:after {
					left: 120%;
				}
			}
			&:nth-child(even) {
				margin-top: 45px;
				&:before {
					right: 100%;
					border-right-color: rgba($white, 0.3);
				}
				&:after {
					left: -20%;
				}
			}
		}
	}
}
@media (max-width: 768px) {
	#about {
		.about-timeline {
			.timeline-block{
				&:nth-child(odd) {
					margin-bottom: 60px;
				}
				&:nth-child(even) {
					margin-top: 60px;
				}
			}
		}
	}
}
@media (max-width: 575px) {
	#about {
		.about-timeline {
			.timeline-block {
				margin-bottom: 15px !important;
				margin-top: 0px !important;
			}
			&:after, .timeline-block:before, .timeline-block:after {
				display: none;
			}
		}
	}
}


/**
 * Skills
 */
#skills {
	.circular-chart{
		width: 100%;
	}
	.circle-bg {
		fill: none;
		stroke: $gray;
		stroke-width: 2;
	}
	.circle {
		fill: none;
		stroke-width: 1.8;
		stroke: $blue;
		stroke-linecap: round;		
	}
	.percentage {
		fill: $gray;
		font-size: 0.5em;
		text-anchor: middle;
	}	
	.logos {
		i {
			margin: 15px;
			color: $gray;
		}
		img {
			margin: 15px;
			vertical-align: top;
		}
 	}
}


/**
 * Quote
 */
#quote {
	background-image: url(/assets/img/quote-bg.jpg);
	background-position: 50% 0;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	color: $white;
	text-shadow: 1px 1px 8px $black;
	overflow: hidden;
	.quote-text {
		font-size: 2.5rem;
		line-height: 1.5;
		.author {
			display: block;
			font-weight: lighter;
			font-style: italic;
			font-size: 2rem;
			&:before {
				content: '-'
			}
		}
	}
}
@media (max-width: 767px) {
	#quote {
		background-image: url(/assets/img/quote-bg-sm.jpg);
	}
}


/**
 * Contact
 */
#contact {
	.form-control {
		border-radius: 0;
		height: 50px;
		margin-bottom: 30px;
		padding: 15px;
		border: 1px solid $gray;
		font-size: 1.2em;
		&:focus {
			box-shadow: 0 0 0 0.1rem rgba($blue, 0.2);
		}
	}
	.form-group {
		margin-bottom: 0;
	}
	.form-messages {
		min-height: 90px
	}
	textarea.form-control {
		height: 210px;
	}
	.btn-contact {
		color: $white;
		background-color: $blue;
		padding-left: $padding;
		padding-right: $padding;
		&:hover {
			background-color: lighten($blue, 10%);
		}
	}
	input.ng-invalid.ng-dirty, textarea.ng-invalid.ng-dirty, .ng-submitted .ng-invalid-required {
		border: 2px solid $red;
	}
}